[package]
name = "getrandom"
version = "0.1.6"
edition = "2018"
authors = ["The Rand Project Developers"]
license = "MIT OR Apache-2.0"
description = "A small cross-platform library for retrieving random data from system source"
documentation = "https://docs.rs/getrandom"
repository = "https://github.com/rust-random/getrandom"
categories = ["os", "no-std"]
exclude = ["utils/*", ".*", "appveyor.yml"]

[badges]
travis-ci = { repository = "rust-random/getrandom" }
appveyor = { repository = "rust-random/getrandom" }

[workspace]
members = ["tests/wasm_bindgen"]

[dependencies]
log = { version = "0.4", optional = true }
cfg-if = "0.1"

[target.'cfg(any(unix, target_os = "redox"))'.dependencies]
libc = "0.2.54"

[target.'cfg(any(target_os = "wasi"))'.dependencies]
wasi-core = "0.2"

[target.wasm32-unknown-unknown.dependencies]
wasm-bindgen = { version = "0.2.29", optional = true }
stdweb = { version = "0.4.9", optional = true }

[features]
std = []
